//scss
$mobile: 480px;
$tablet: 1024px;

.legend-container {
  .legend-item {
    float: left;
    padding-left: 21.5px;
    padding-right: 5px;
    transition: opacity 0.3s ease;
    width: 50%;
    text-align: left;

    &:hover {
      .legend-sq {
        border: 1px solid black;
      }
    }

    .legend-sq {
      width: 15px;
      height: 15px;
      margin-top: 2.5px;
      margin-left: -19px;
      float: left;
      border-radius: 50%;
    }
  }  
}
