@import "breakpoint-sass";
@import './components/SunburstChart/SunburstChart';

.App {
  width: 80%;
  margin: 10px auto;
  
  .chart-container {
    padding-top: 50px;
    display: block;
  }

  .grid-container {
    height: 500px;
    margin-top: 72px;
  }
}